@import "../../app.scss";

.education{
    position: relative;
    
    .heading{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 50px;

        @include mobile {
            padding-top: calc(100vh - 1px);
            font-size: 24px;
        }

        .progressBar{
            height: 10px;
            background-color: orange;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        width: 100%;
        height: 100%;

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin:auto;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;

            @include mobile {
                    flex-direction: column;
                }
            
            .imageContainer {
                flex: 1;
                width: 60%;
                height: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;

                @include mobile {
                        width: 100%;
                        max-height: 300px;
                    }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                    @include mobile {
                        object-fit: contain;
                    }
                }
            }
            
            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top:20px;

                @include mobile {
                    transform: none !important;
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                }
                
                p {
                    color: gray;
                    font-size: 17px;
                    line-height: 25px;
                    font-family: "Merriweather",sans-serif;

                    @include mobile {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
