.navbar{
    height: 100px;  

    .wrapper{
        max-width: 1275px;
        //Use max-width 1366px for 15.6 inch screen
            //I have used 1275 for 14 inch screen 
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width: 22px;
                height: 22px;
            }
        }

    }
}